.content{
  padding-bottom: $padding-large-horizontal * 2;
}

.text-danger{
  margin: 5px 0 0;
}

@import "partials/authorization-form";
@import "partials/create-competition";
@import "partials/competition-page";
@import "partials/create-end-user-page";
@import "partials/create-password";
@import "partials/profile";
@import "partials/create-company-page";
@import "partials/create-admin-page";
@import "partials/past-competition";
@import "partials/edit-admin-page";
@import "partials/edit-company-page";
