.navbar{
  .navbar-collapse {
    overflow: hidden;
  }

  .btn-toolbar{
    float: none;
    margin: 0;
    padding: 8px 0;

    .btn{
      margin: 0;
      display: block;
      width: 100%;
      line-height: 20px;
    }
  }
}

#companies-dropdown + .dropdown-menu {
  max-height: 400px;
  overflow-y: scroll;
}

@media (min-width: 768px){
  .navbar{
    .btn-toolbar{
      float: left;
      padding: 8px 0 0;

      .btn{
        margin-left: 5px;
      }
    }
  }
}
