.record-bar{
  margin-bottom: 10px;
  border: 1px solid $well-border;

  &:last-child{
    margin-bottom: 0;
  }

  &-link{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 19px;
    box-sizing: border-box;

    &-inner{
      display: flex;
      flex: 1;
      flex-flow: column;
    }

    &:hover, &:focus{
      text-decoration: none;
      outline: none;
    }
  }

  &-icon{
    width: 20px;

    color: #bbb;
  }

  &-title{
    @include trimString;
    display: block;
  }
}
