/**
 * (C)Leanest CSS spinner ever
 */

@keyframes spin {
  to { transform: rotate(1turn); }
}

.spinner {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 5px;
  font-size: 4px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}

.spinner:before,
.spinner:after,
.spinner > span:before,
.spinner > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.spinner:before {
  background: #282924;
}

.spinner:after {
  transform: rotate(-45deg);
  background: #3c3f41;
}

.spinner > span:before {
  transform: rotate(-90deg);
  background: #393b41;
}

.spinner > span:after {
  transform: rotate(-135deg);
  background: #687477;
}
