/******* FUNCTIONS *******/

/* getNestedMap
    @param {Map} $map - Map
    @param {Arglist} $keys - Key chain

    @return {*} - Desired value

    Usage: getNestedMap($mapName, "Key", "SubKey");
*/
@function getNestedMap($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

/* getKeyValue
    @param {Map} $map - Map
    @param {Name} $name - Key chain

    @return {*} - Desired value

    Usage: getKeyValue($mapName, "Key");
*/
@function getKeyValue($map, $name) {
    @if map-has-key($map, $name) {
        @return map-get($map, $name);
    }

    @warn "The key #{$name} is not in the map #{$map}";
    @return null;
};

/******* // FUNCTIONS *******/