/******* HELPERS *******/
.media-container,
%media-container{
    line-height: 0;

    &.centered{
        text-align: center;
    }

    img{
        max-width: 100%;
    }
} // .media-container

.hidden-area,
%hidden-area{
    position: absolute!important;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(1px,1px,1px,1px);
} // .hidden-area
/******* // HELPERS *******/
