.competition{
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &.opened{
    .icon{
      .glyphicon{
        transform: rotate(180deg);
      }
    }
  }

  &-body{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  &-footer{
    margin: 0;
    border: none;
    box-shadow: none;

    .panel-body{
      padding: 10px 15px;
      background-color: #f5f5f5;
      border-top: 1px solid #ddd;
    }
  }

  &-info{
    flex: 1 0 97%;
  }

  .icon{
    flex: 1 0 3%;
    text-align: center;
    color: #bbb;

    .glyphicon{
      transition: transform ease 350ms;
    }
  }

  .title{
    @include trimString;
    max-width: 95%;
    margin: 0 0 15px;
  }

  &-details{
    @extend %clean-list;
    overflow: hidden;
  }

  &-detail{
    color: #777;
    float: left;
    padding: 0 10px;

    border-left: 1px solid #555;

    &:first-child{
      padding-left: 0;
      border: none;
    }
  }

  .glyphicon,
  .detail{
    display: inline-block;
  }

  .glyphicon{
    margin-right: 5px;
  }

  @media all and (max-width: 480px) {
    .competition-detail{
      float: none;
      display: block;
      margin-bottom: 10px;
      padding: 0;
      border: none;
    }
  }
}
