.personalize-competitions{

  @media all and (max-width: 480px) {
    .url-group{
      display: block;

      .input-group-addon{
        height: 34px;
        text-align: left;
        border-right: 1px solid #ccc;
        border-bottom-width: 0;
      }
    }
  }

  .panel-url{
    .form-group{
      margin-bottom: 5px;
    }
  }

  .spinner-container{
    display: inline-block;
    padding: 6px;

    .spinner,
    .spinner-text{
      display: inline-block;
      vertical-align: middle;
    }
  }

  .upload-file-toolbar,
  .uploaded-file-data{
    margin-bottom: $form-group-margin-bottom;
  }

  .file-data{
    @extend %clean-list;
  }

  .file-data-item{
    margin-bottom: $form-group-margin-bottom;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .decor{
    font-weight: bold;
  }

  .btn-refresh{
    min-height: 34px;
  }
}
