.competition-status{
  margin-bottom: $form-group-margin-bottom;
}

.status-list{
  margin: 0;
  padding: 0;
  list-style: none;

  .status{
    margin: 0 0 10px;

    &:last-child{
      margin: 0;
    }

    &-date{
      display: inline-block;
      margin-right: 20px;
      color: grey;
    }

    &-button{
      display: inline-block;
      margin-left: 10px;
    }
  }

  @media all and (max-width: 767px){
    .status{
      padding: 0 0 10px;
      border-bottom: 1px solid #ddd;

      &:last-child{
        padding: 0;
        border: none;
      }

      &-date,
      &-info{
        display: block;
        margin: 0 0 5px;
      }

      &-button{
        margin: 0;
        display: block;
        width: 100%;
      }
    }
  }
}
