.editable-area{
  padding: $padding-base-vertical $padding-base-horizontal;

  color: $text-color;

  font-size: $font-size-base;
  line-height: $line-height-base;

  border: 1px solid $input-border;

  @media all and (max-width: 768px) {
    margin-bottom: $form-group-margin-bottom;

    & + .text{
      margin-bottom: 15px;
    }
  }

  & + .text{
    margin-top: 15px;
  }
}
