.prizes{
  .component-container{
    display: flex;
    flex-flow: row nowrap;
  }

  .fields-container{
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
  }

  .prize-count{

  }

  .remove-button-container{
    width: 44px;
    margin-left: 15px;
  }

  .prize-title{
    flex: 1;
  }

  .prize-row {
    margin-bottom: 15px;

    .form-group {
      margin-bottom: 0;
    }
  }
}
