.file-upload{
  position: relative;
  overflow: hidden;

  .file-upload-input{
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    font-size: 999px;
    opacity: 0;
  }
}
