.authorization-form{
  width: 100%;
  align-self: center;

  .btn-toolbar{
    margin: 0;
  }

  .btn-submit{
    margin: 0 0 15px;
    float: none;
    width: 100%;
    display: block;
  }

  .btn-link{
    float: right;
    margin-left: 0;
    padding-right: 0;
  }
}
