.competition-banner{
  @extend %media-container;
}

.prizes-list{
  .prize{
    &-count{
      display: table-cell;
      width: 60px;
      font-size: 20px;
    }

    .label{
      width: 46px;
      display: inline-block;
      font-style: italic;
      font-weight: normal;
      font-size: inherit;
    }

    &-title{
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.decision-buttons{
  margin-bottom: 20px;
}
