.company-form,
.admin-form{
  .list-group{
    margin-bottom: 0;
  }

  .list-row{
    display: flex;
    flex-flow: row nowrap;
  }

  .username{
    display: flex;
    flex: 0 1 100%;
    align-items: center;
    overflow: hidden;
  }

  .toolbar{
    width: 40px;
  }

  .text{
    @include trimString;
  }
}
