.running-time-panel{
  .form-group:last-child{
    margin-bottom: 0;
  }

  .control-label{
    margin-top: 7px;
  }

  .number-field{
    display: inline-block;
    width: 44px;
    margin-bottom: 0;
  }

  .text{
    margin-left: 5px;
    display: inline-block;
  }

  .info-button{
    margin-left: 18px;
  }

  .time-info{
    margin-top: 7px;
    display: inline-block;
  }

  .btn-link{
    &.btn-daterange{
      margin-left: -$padding-base-horizontal;
    }
  }

  .select-container{
    .form-group{
      margin-bottom: 0;
    }
  }

  @media all and (max-width: 640px) {
    .select-container:not(:last-child){
      margin-bottom: 15px;
    }
  }
}
