.company-panel{
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &-body{

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 19px;
    box-sizing: border-box;
  }

  &-footer{
    margin: 0;
    border: none;
    box-shadow: none;

    .panel-body{
      padding: 10px 15px;
      background-color: #f5f5f5;
      border-top: 1px solid #ddd;
    }
  }

  .title{
    margin: 0;
    @include trimString;
  }

  .company-status{
    margin-top: 2px;

    &:empty{
      display: none;
    }

    .label{
      display: inline-block;
      margin-left: 5px;

      &:first-child{
        margin-left: 0;
      }
    }
  }

  .company-info{
    display: flex;
    flex: 1;
    flex-flow: column;
  }

  .icon{
    width: 20px;
    color: #bbb;
    text-align: center;
  }
}
